@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* homePage */
/* homePage */
/* homePage */
.homePage img {
  width: 100%;
  /* background-size: cover; */
}
/* table */
/* table */
/* table */
.tablesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid red; */
  border-radius: 10px;
  background-color: rgb(141, 146, 96);
  margin: 5px;
  /* overflow: auto; */
}
/* .tablesContainer::-webkit-scrollbar {
  display: none;
} */
.tablesContainer div {
  padding: 15px 25px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30%;
  width: 20px;
  text-align: center;
  font-size: x-large;
}

/* .tablesContainer div:hover {
  background-color: yellowgreen;
} */
.tablesContainer div:active {
  background-color: yellow;
}
/* .busy {
  background-color: tomato;
} */
.table {
  text-decoration: none;
  color: white;
  margin: 5px 5px;
}
sup {
  /* background-color: tomato; */
  padding: 3px;
  color: rgb(199, 28, 28);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bsup {
  padding: 3px;
  color: rgb(8, 252, 61);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* .tablesContainer div:nth-child(even) {
  background-color: tomato;
} */
/* products */
/* products */
/* products */
.productsContainer {
  /* border: 2px solid black; */
  display: flex;
  height: 500px;
  margin: 5px;
  border-radius: 10px;
  padding: 2px;
}
.menu {
  flex: 20%;
  border: 2px solid rgba(48, 48, 49, 0.699);
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  overflow: auto;
}
.menu::-webkit-scrollbar {
  display: none;
}
.menu div {
  /* border: 1px solid grey; */
  /* border-radius: 5px; */
  width: 99%;
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
}
.menu div img {
  width: 100%;
  background-size: cover;
  /* border: 1px solid black; */
}
.menuItems {
  flex: 80%;
  /* border: 2px solid rgba(48, 48, 49, 0.699); */
  /* border: 2px solid red; */
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: auto;
  margin-left: 2px;
  justify-content: space-around;
  /* flex-direction: row; */
}
.aos {
  border: 2px solid rgba(48, 48, 49, 0.699);
}
.menuItems::-webkit-scrollbar {
  display: none;
}
.menuItemCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  /* border: 1px solid black; */
  border-radius: 5px;
  height: 215px;
  width: 120px;
  margin: 5px;
  font-weight: bold;
}
.menuItems img {
  width: 100%;
  /* border: 1px solid black; */
}
.menuItems button {
  width: 100%;
  padding: 5px;
  background-color: tomato;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
/* addCart */
/* addCart */
/* addCart */
.addCartContainer {
  /* border: 1px solid teal; */
  display: flex;
  flex-direction: column;
  width: 100%;
}
.listOrders {
  border: 2px solid grey;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}
.orderLeft {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.orderLeft h3,
img,
button:first-child {
  margin-right: 10px;
}
.orderLeft img {
  width: 100px;
  background-size: contain;
}
.pmbtn {
  padding: 5px;
  width: 40px;
  font-size: x-large;
  background-color: tomato;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.orderRight {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
}
.pmbtns {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.totalCostOrders {
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbtn {
  background-color: tomato;
  cursor: pointer;
  padding: 15px;
  font-size: x-large;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}
/* processing */
/* processing */
/* processing */
.processingContainer {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
}
.processTable {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-self: flex-start;
}
.prlist:not(.prheading) {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  width: 250px;
}
/* .check {
  background-color: rgb(207, 188, 201);
}
.total {
  background-color: tomato;
} */
.admin {
  margin-bottom: 10px;
}

.fa-check-circle {
  color: blue;
}
.fa-trash-alt {
  color: rgb(255, 0, 0);
}

.prFirst {
  background-color: rgba(34, 180, 156, 0.657);
}
.prheading {
  padding: 5px 0px;
  margin-bottom: 3px;
  width: 260px;
  border-radius: 5px;
  font-size: large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.prSecond {
  background-color: rgb(170, 197, 50);
}
.prThird {
  background-color: tomato;
}
/* AdminPayment */
/* AdminPayment */
/* AdminPayment */
.paymentCart {
  /* border: 1px solid rgb(255, 0, 0); */
  display: flex;
  flex-direction: column;
}
.singlePayment {
  /* border: 1px solid rgb(255, 0, 0); */
  background-color: rgb(163, 154, 154);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleLists {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.adminFinishOrder {
  /* border: 1px solid black; */
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  width: 350px;
  background-color: tomato;
  margin-bottom: 3px;
  padding: 0px 5px;
  font-weight: bold;
  border-radius: 5px;
}
.payment {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  border-radius: 5px;
  align-self: flex-start;
  margin-right: 5px;
  background-color: rgba(9, 120, 148, 0.418);
}
.paymentbtn {
  padding: 10px;
  font-size: x-large;
  border: none;
  background-color: orange;
  border-radius: 5px;
  margin: 5px;
}
/* tables */
/* tables */
/* tables */
.tablesPayment {
  margin-top: 10px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.tablesCart {
  /* border: 2px solid rgb(255, 0, 0); */
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tableList {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 350px;
  background-color: orange;
  border-radius: 5px;
  padding: 0px 5px;
  margin-left: 5px;
  margin-bottom: 3px;
}
.totalOfDay {
  background-color: rgb(89, 158, 204);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  border: 1px solid blue;
  border-radius: 5px;
}
.totalOfDay button {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  font-size: x-large;
  margin: 3px;
  border-radius: 5px;
}
/* days */
/* days */
/* days */
.dailyPayment {
  margin-top: 10px;
  background-color: rgb(63, 119, 110);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.tablesCart {
  /* border: 2px solid rgb(255, 0, 0); */
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dayList {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 350px;
  background-color: rgb(143, 55, 138);
  border-radius: 5px;
  padding: 0px 5px;
  margin-left: 5px;
  margin-bottom: 3px;
  color: white;
}
.totalOfMonth {
  background-color: rgba(43, 111, 221, 0.541);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  border: 1px solid blue;
  border-radius: 5px;
}
.totalOfMonth button {
  padding: 10px;
  background-color: rgb(92, 92, 92);
  color: white;
  font-size: x-large;
  margin: 3px;
  border-radius: 5px;
}
/* year */
/* year */
/* year */
.annualPayment {
  margin-top: 10px;
  background-color: rgb(125, 179, 179);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.tablesCart {
  /* border: 2px solid rgb(255, 0, 0); */
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.monthList {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 350px;
  background-color: rgb(95, 94, 95);
  border-radius: 5px;
  padding: 0px 5px;
  margin-left: 5px;
  margin-bottom: 3px;
  color: white;
}
.totalOfMonth {
  background-color: rgba(43, 111, 221, 0.541);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  border: 1px solid blue;
  border-radius: 5px;
}
.totalOfMonth button {
  padding: 10px;
  background-color: rgb(92, 92, 92);
  color: white;
  font-size: x-large;
  margin: 3px;
  border-radius: 5px;
}

/* Burgerer */
/* Burgerer */
/* Burgerer */
.burgererPage {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.burgermargin {
  margin-left: 10px;
}

/* Product Page */
/* Product Page */
/* Product Page */
/* Product Page */
.pPageBtns {
  display: flex;
  align-items: center;
}
.productContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productCatogoryContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.categoryItem {
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin: 5px;
}
.ppbtn {
  margin-left: 5px;
}
.imgEditabla {
  width: 80px;
  border-radius: 7px;
}
.categoryItem > img,
h3,
button {
  margin-right: 10px;
}
.menuItemsList {
  border: 1px solid rgb(0, 4, 255);
  border-radius: 7px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 600px;
}
.EachProductItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}
.mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px 0 10px;
}
.fa-user-secret,
.fa-user-tie {
  font-size: xxx-large;
  margin-right: 10px;
}
.fa-user-secret {
  color: rgb(18, 118, 136);
}

.editBtn {
  font-size: x-large;
  padding: 5px;
  border-radius: 7px;
  border: none;
  background-color: rgb(24, 228, 194);
}
.del {
  background-color: tomato;
  cursor: pointer;
}
/* form */
/* form */
/* form */
/* form */
/* form */
/* form */
/* form */
.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
  border: 1px solid #fec107;
}

.wrapper .form .inputfield p {
  font-size: 14px;
  color: #757575;
}
.inputbtn {
  width: 100%;
  font-size: x-large;
  padding: 5px;
  background-color: #fec107;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

/* chart */
/* chart */
/* chart */
/* chart */
/* chart */

@media only screen and (min-width: 780px) {
  body {
    width: 780px;
  }
}
